.allprod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.card{
    height: min-content;
    width: 170px;
    border: 1px solid black;
}

.prod_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.brand{
    text-align: center;
    margin: 2px 0px;
}

.des{
    font-size: 15px;
    text-align: center;
    margin: 2px 0px;
}

.price{
    text-align: center;
    margin: 4px 0px;
}

.btn{
    display: flex;
    margin: auto;
    color: white;
    padding: 3px;
    background-color: blue;
    cursor: pointer;
}

.action{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.icon_btn{
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    margin: 7px 0px;
}

.main_cart_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}